<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, intial-scale-1.0">
    <link rel="stylesheet" href="/Online Pharmacy System/VIEW/CSS/home.css">
    <title>HOME PAGE</title>
</head>

<body>
    <div class="container">
        <div id="top">
            <div id="box">
                <header class="head">
                    <center>
                        <h1>Online Pharmacy</h1>
                    </center>
                    <div class="square">
                        <h2>Online Pharmacy</h2>
                    </div>
                </header>
            </div>
        </div>
        <div id="bottom">
            <div id="size">
                <div class="leftsidebar">
                    <div class="inside">
                        <ul>
                            <li><a href="home.html">Home</a></li>
                            <li><a href="Admin.html">Admin</a></li>
                            <li><a href="user.html">User</a></li>
                        </ul>
                    </div>
                </div>
                <div class="midlebody">
                    <center>
                        <form id="form_id" action="" method="post">
                            <h3>Admin Login</h3>
                            <table>
                                <tr>
                                    <td>User Name:</td>
                                    <td><input type="text" name="username" id="username"></td><br><br>
                                </tr>
                                <tr>
                                    <td>Password:</td>
                                    <td><input type="password" name="password" id="password"></td><br><br>
                                </tr>
                                <td><button><input type="button" value="Submit"></button></td>
                                <td><button><input type="button" value="Reset"></button></td>
                        </form>
                        </table>
                </div>
            </div>
        </div>
</body>

</html>